# # Task:1

# Answer:2

In [4]:
mylist=[]
for num in range(2000,3201):
    if num%7==0 and num%5 !=0:
        mylist.append(num)
print(mylist)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

# Answer:3

In [5]:
first_name = input("Enter your first name:")
last_name = input("Enter your last name:")
print(first_name[::-1]," ",last_name[::-1])

Enter your first name:Prashant
Enter your last name:Singh
tnahsarP   hgniS

# Answer:4

In [9]:
diameter = 12
radius = diameter/2
# volume of sphere = 4/3 Ï€ r3
volume = 4/3*(22/7*radius**3)
round(volume,2)

6.0

905.14

# # Task:2

# Answer: 1

In [20]:
mylist = []
number = list(input("enter the few numbers: "))
for num in number:
    if num == ",":
        continue
    else:
        mylist.append(num)
        
print(mylist)

enter the few numbers: 1,55,6,7,8,12,14,11,56
['1', '5', '5', '6', '7', '8', '1', '2', '1', '4', '1', '1', '5', '6']

# Answer: 2

In [26]:
for num in range(6):
    print('x'*num)
for num in range(4,0,-1):
    print('x'*num)

x
xx
xxx
xxxx
xxxxx
xxxx
xxx
xx
x

# Answer: 3

In [27]:
word = input("Enter any word here: ")
print(word[::-1])

Enter any word here: AcadGild
dliGdacA

# Answer: 4

In [36]:
print('WE, THE PEOPLE OF INDIA, \n\t having solemnly resolved to constitute India into a SOVEREIGN, \n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t and to secure to all its citizens')

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN,
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens

In [37]:
pwd()

'C:\\Users\\PRASHANT'